version: "3.9"
services:
  artemis:
    build: "./Artemis"
    container_name: "artemis"
    # Persistent volume don't use this for testing as it will filter out same urls
    # volumes:
    #   - artemis-data:/var/lib/artemis/data
    ports:
      - "8161:8161"
      - "61613:61613"
  producer-irozhlas.cz:
    build: ./Aggregator
    command: "--limit=400 --to=2011-12-31 ihned.cz"
    depends_on:
      - consumer

  consumer:
    build: ./Processor
    command: "--use_hostname_output --timeout=1 --pills_to_die=1 --queue_size=200"
    volumes:
      - ./output:/app/output:z
    deploy:
      replicas: 5
    depends_on:
      - artemis

# volumes:
#  artemis-data:
